button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    box-shadow: unset
}

button:disabled {
    pointer-events: none;
    cursor: inherit;
    opacity: .7;
}

.button-primary {
    @include button-styles($color-primary, 1.6rem, #ffffff, .6rem);
}

.button-danger {
    @include button-styles($color-red, 1.6rem, #ffffff, .6rem);
}

.button-dark {
    @include button-styles($color-black, 1.6rem, #ffffff, .6rem);
}