.loader {
    min-width: 5rem;
    min-height: 5rem;
    border: 5px solid $color-primary;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    &--white {
        border-color: #fff;
        border-bottom-color: transparent;
    }
}