*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
  font-size: 62.5%; //10px
}

html, body {
 min-height: 100dvh;
 min-height: 100vh; //fallback
}

body {
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
}

a {
  text-decoration: none;
  color: $color-black;
}

// Disable automatic autofill in inputs
:-webkit-autofill {
  transition: all 100000s ease-in-out 0s;
}

@media (max-width: 766.98px) {
    html {
      font-size: 50%;
    }
}