body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-black;
    padding: 3rem;
    font-size: $default-font-size;
}

.text-link {
    color: darken($color-primary, 20%);
    transition: all .2s ease;

    &:hover {
        color: darken($color-primary, 40%);
    }
}

.text-primary {
    color: $color-primary !important;
}