@mixin button-styles($background, $font-size, $color, $border-radius) {
    background: $background;
    font-size: $font-size;
    color: $color;
    border-radius: $border-radius;
    border: none;
    padding: 0.7em 1.4em;
    text-align: center;
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;

    &:hover,
    &:focus {
        background: darken($background, 10%);
        color: lighten($color, 10%);
    }
}
