
// COLOR

$color-primary: #49AEBE;
$color-red: #D00505;
$color-green: #2FC300;
$color-yellow: #F9B910;

$color-white: #fff;
$color-black: #2E2E2E;

$color-grey-light-1: #838383;
$color-grey-light-2: #A5A5A5;
$color-grey-light-3: #C5C5C5;

$bg-color: #E9ECEF;

// FONT
$default-font-size: 1.7rem;

// CONTAINER
$container-width: 140rem;

$default-border-radius: 1rem;