/* Reset de estilos para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(241, 236, 236);
}

/* Contêiner para o formulário */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* parte dos botoes enviar e sair */
.submit-container {
    position: static;
    bottom: auto;
    left: auto;
    transform: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}

/* Remover a seta dos selects */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    background-color: #fff;
    /* Cor de fundo do select */
    padding-right: 30px;
    /* Espaço para a seta */
}

.content {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    max-width: 90%;
    height: 70%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para a coluna lateral (menu vertical) */
.side-column {
    background-color: #E9ECEF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 200px;
    margin-bottom: 30px;
}

.menu-item {
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #333;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

#atual {
    background-color: #FFB703;
}

/* Estilos para o botão de logout */
.logout-btn {
    margin-top: 20px;
    /* Adicione um espaço entre os botões do menu e o botão de logout */
    border: none;
    background-color: #023047;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    text-transform: uppercase;
}

.logout-btn:hover {
    background-color: #FFB703;
}


.content-column {
    padding: 20px;
    flex: 1;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 40px;
    text-align: center;
}

/* Estilos para o botões */
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    background-color: #023047;
}

.menu-item.btn {
    background-color: #023047;
    color: #fff;
    padding: 10px 20px;
    text-align: center;

}

.menu-item.btn:hover {
    background-color: #FFB703;
}

.btn-primary:hover {
    background-color: #FFB703;
}

/* Formulário */
.content-column form.two-column-form {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 40px;
}

.form-column label {
    display: block;
    font-size: 16px;
    color: #333;
}

/* Estilos para o select */
.dropdown-column select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: pointer;
    appearance: none;
    width: 300px;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.content-column input,
.form-column select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Media queries */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .content {
        flex-direction: column;
        height: auto;
        box-shadow: none;
    }

    .logo {
        max-width: 80px;
    }

    .form-container {
        width: 100%;
        height: auto;
    }

    .content-column form.two-column-form {
        flex-direction: column;
        gap: 5px;
    }

    .title {
        font-size: 24px;
    }

    .form-column {
        margin: 5px;
    }

    .menu-item.btn {
        text-align: center;
        font-size: 10px;
    }

}