<If "%{HTTP_REFERER} !~ /^https?:\/\/(www\.)?https://liag.ft.unicamp\.br/">
Require all denied
</If>

# Opcional: Se precisar liberar acesso a um arquivo específico

<Files "nome_do_arquivo_liberado.php">
Require all granted
</Files>
